{{ $sass := resources.Get "sass/skills.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="skills-container">
  <div class="bar-block">
    <div class="bar-title">Git 80</div>
    <div class="bar-frame">
      <div class="bar-content git"></div>
    </div>
  </div>
  <div class="bar-block">
    <div class="bar-title">PHP(Lavavel) 70</div>
    <div class="bar-frame">
      <div class="bar-content laravel"></div>
    </div>
  </div>
  <div class="bar-block">
    <div class="bar-title">PHP(Codeigniter) 90</div>
    <div class="bar-frame">
      <div class="bar-content codeigniter"></div>
    </div>
  </div>
  <div class="bar-block">
    <div class="bar-title">SQL 80</div>
    <div class="bar-frame">
      <div class="bar-content sql"></div>
    </div>
  </div>
  <div class="bar-block">
    <div class="bar-title">Javascript 80</div>
    <div class="bar-frame">
      <div class="bar-content javascript"></div>
    </div>
  </div>
  <div class="bar-block">
    <div class="bar-title">React 85</div>
    <div class="bar-frame">
      <div class="bar-content react"></div>
    </div>
  </div>
  <div class="bar-block">
    <div class="bar-title">Python(Django) 65</div>
    <div class="bar-frame">
      <div class="bar-content python"></div>
    </div>
  </div>
</div>
